@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

/* ---Nav-bar configs--- */

.container-navbar-selections a:nth-child(1) {
    background-color: #FFF;
    color: #000;
}

/* ---Main page--- */

.container-mainpage {
    width: 100%;
    height: 100vh;
    background-image: url("../../img/Homebackground.png");
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-mainpage-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 95%;
    z-index: 50;
}

.container-mainpage-texts-title h1 {
    font-size: 10rem;
    color: #FFF;
    user-select: none;
}

.container-mainpage-texts-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 32%;
}

.container-mainpage-texts-text p {
    text-align: center;
    color: #FFF;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 2px;
    user-select: none;
}

/* ---Info section--- */

.container-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: 100vh;
}

.container-info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 60%;
    background-color: #000;
}